[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twarc = "*"
pandas = "*"
numpy = "*"
tqdm = "*"
jupyterlab = "*"
ipykernel = "*"
ipywidgets = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
telethon = "*"
telepathy = "*"
cryptg = "*"
snscrape = {git = "https://github.com/bellingcat/snscrape.git"}
weibo-scraper = "*"

[dev-packages]

[requires]
python_version = "3.11"
